.accounts {
    display: block;
    width: 100%;
    font-size: 18px;
    max-width: 100%;
    margin: 0px auto;
    padding: 90px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-menu__title h1 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
    user-select: none;
    color: lightgray;
}

@media only screen and (max-width: 767px) {
    .accounts {
        overflow: auto;
        margin: 10px;
        overflow: hidden;
    }
}
